/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Not Meyer... */
a {
  text-decoration: none;
  color: inherit; }

input {
  margin: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

.u-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.u-inlineList li {
  display: inline; }

body {
  font-size: 14px;
  font-family: 'Open Sans';
  background-color: #31343C; }

.siteHeader {
  background-color: #31343C;
  color: #fff;
  height: 72px;
  padding: 0 16px;
  font-weight: 300;
  text-transform: uppercase;
  margin: auto;
  max-width: 960px; }

.siteHeader img, .siteHeader h1, .siteHeader p {
  float: left; }

.siteHeader ul {
  float: right; }

.siteHeader li {
  margin-left: 16px;
  font-size: 16px; }

.siteHeader img {
  height: 40px;
  margin-top: 16px;
  margin-right: 16px; }

.siteHeader h1, .siteHeader p, .siteHeader li {
  line-height: 72px; }

.siteHeader h1, .siteHeader p {
  font-size: 24px; }

@media (max-width: 799px) {
  .siteHeader li {
    font-size: 12px; } }

@media (max-width: 649px) {
  .siteHeader nav {
    display: none; } }

@media (min-width: 650px) {
  .siteSecondaryNav {
    display: none; } }

.siteSecondaryNav {
  background-color: #31343C;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-weight: 300;
  padding: 16px 0 40px 0; }

.siteSecondaryNav ul > li, .siteSecondaryNav ul > a {
  padding: 16px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  width: 50%;
  margin: auto;
  display: block; }

.siteSecondaryNav li:first-child, .siteSecondaryNav a:first-child {
  border-top: none; }

.siteSecondaryNav li:last-child, .siteSecondaryNav a:last-child {
  border-bottom: none; }

.siteSecondaryNav .button {
  margin-top: 30px; }

.button {
  background-color: #119FF2;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#119FF2), to(#0086D3));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #119FF2, #0086D3);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  /* FF3.6 */
  /* IE10 */
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #119FF2, #0086D3);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#119FF2', EndColorStr='#0086D3');
  border: 1px solid rgba(44, 67, 80, 0.23);
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  padding: 12px; }

.code {
  font-family: 'Inconsolata', monospace;
  border-radius: 6px;
  font-size: 14px;
  padding: 10px;
  line-height: 1.5em;
  overflow: hidden;
  overflow-x: scroll; }

.code--dark {
  background-color: rgba(49, 52, 60, 0.6);
  color: #fff;
  border: 1px solid rgba(49, 52, 60, 0.6); }

.code--light {
  background-color: #fff; }

.code .hljs-doctype {
  color: grey; }

.code .hljs-tag {
  color: grey; }

.code .hljs-title {
  color: blue; }

.code .hljs-value {
  color: green; }

.code .hljs-comment {
  color: grey; }

.code .hljs-keyword {
  color: pink; }

.code .hljs-operator {
  color: pink; }

.hugeTextBanner {
  font-size: 36px;
  color: #fff;
  font-weight: 300;
  max-width: 750px;
  width: 90%;
  margin: auto;
  text-align: center;
  line-height: 1.4em; }

@media (max-width: 650px) {
  .hugeTextBanner {
    font-size: 2em; } }

.blockedHeader {
  background-color: rgba(49, 52, 60, 0.1);
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  padding: 12px;
  border-bottom: 1px solid rgba(49, 52, 60, 0.4); }

@media (max-width: 649px) {
  .textEditor {
    width: 95%; } }

.textEditor {
  background-color: #fff;
  border-radius: 16px 16px 0 0;
  width: 90%;
  max-width: 880px;
  margin: auto;
  margin-top: 60px;
  box-shadow: 0 0 12px 12px rgba(0, 0, 0, 0.06); }

.textEditor-topBar {
  background-color: rgba(49, 52, 60, 0.3);
  font-weight: 300;
  height: 50px;
  line-height: 50px;
  padding: 0 16px;
  border-radius: 16px 16px 0 0; }

.textEditor-topBar img {
  float: right;
  height: 14px;
  margin-top: 18px; }

.textEditor-main {
  font-family: 'Inconsolata', monospace;
  overflow-x: auto;
  white-space: nowrap;
  margin-right: 16px; }

.textEditor-line {
  line-height: 1.5em; }

.textEditor-gutter {
  width: 40px;
  text-align: right;
  padding-right: 10px;
  display: inline-block;
  background-color: rgba(49, 52, 60, 0.2); }

.textEditor-line:first-child .textEditor-gutter {
  padding-top: 10px; }

.textEditor-line:last-child .textEditor-gutter {
  padding-bottom: 2px; }

.textEditor-main pre {
  display: inline; }

.intro {
  background-color: #F6F6F6;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-style: solid none;
  padding-top: 60px;
  padding-bottom: 60px; }

@media (max-width: 649px) {
  .intro {
    margin-top: 0px; } }

.intro h2, .intro h3, .intro p {
  width: 90%;
  max-width: 660px;
  margin: auto;
  text-align: center; }

.intro h2, .intro h3 {
  font-weight: 300; }

.intro h2 {
  font-size: 36px;
  margin-bottom: 60px;
  line-height: 1.4em;
  max-width: 700px; }

.intro h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.4em;
  margin-top: 60px; }

.intro p {
  margin-bottom: 20px;
  line-height: 1.6em; }

.beginLearn {
  display: none;
  width: 90%;
  max-width: 750px;
  margin: 60px auto 24px;
  *zoom: 1; }
  .beginLearn:before, .beginLearn:after {
    display: table;
    content: "";
    line-height: 0; }
  .beginLearn:after {
    clear: both; }

.beginLearn-learn {
  display: none; }

.beginLearn-begin {
  width: 100%; }

.beginLearn h3 {
  margin-bottom: 16px; }

.beginLearn-begin ul {
  list-style: initial;
  list-style-position: inside;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em; }

.beginLearn-begin a {
  color: #0D5679;
  text-decoration: underline; }

.features {
  background-color: #31343C;
  padding: 60px 0 40px 0; }

.features h2, .features p, .features .code {
  width: 90%;
  max-width: 650px;
  margin: auto; }

.features h2, .features p {
  text-align: center;
  line-height: 1.6em; }

.features h2 {
  color: #fff;
  font-size: 24px;
  margin-top: 90px;
  margin-bottom: 16px; }

.features h2:first-child {
  margin-top: auto; }

.features p {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
  margin-bottom: 24px;
  max-width: 500px; }

.features .code {
  margin-bottom: 20px; }

.siteFooter {
  font-weight: 300;
  text-align: center;
  line-height: 1.5em; }

.siteFooter--grey {
  background-color: #31343C;
  color: rgba(255, 255, 255, 0.6); }

.siteFooter--green {
  background-color: #1CB69C;
  color: rgba(255, 255, 255, 0.8); }

.siteFooter-wrapper {
  width: 90%;
  max-width: 650px;
  margin: auto;
  padding: 32px 0;
  position: relative; }

.siteFooter-wrapper:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0px;
  width: 100%; }

.siteFooter--grey .siteFooter-wrapper {
  border-top: 1px solid rgba(255, 255, 255, 0.05); }

.siteFooter--grey .siteFooter-wrapper:before {
  border-top: 1px solid rgba(0, 0, 0, 0.3); }

.siteFooter--green .siteFooter-wrapper {
  border-top: 1px solid rgba(255, 255, 255, 0.2); }

.siteFooter--green .siteFooter-wrapper:before {
  border-top: 1px solid rgba(0, 0, 0, 0.15); }

.siteFooter ul {
  margin-bottom: 16px; }

.siteFooter-links ul {
  margin-bottom: 0; }

@media (min-width: 500px) {
  .siteFooter-wrapper {
    *zoom: 1; }
    .siteFooter-wrapper:before, .siteFooter-wrapper:after {
      display: table;
      content: "";
      line-height: 0; }
    .siteFooter-wrapper:after {
      clear: both; }
  .siteFooter ul {
    float: left;
    text-align: left; }
  .siteFooter-links {
    float: right; }
  .siteFooter-links ul {
    margin-left: 40px;
    text-align: right; } }

.page {
  width: 95%;
  max-width: 900px;
  margin: auto;
  line-height: 2em;
  color: rgba(0, 0, 0, 0.8); }

@media (max-width: 499px) {
  .page-contents, .page-body {
    background-color: #fff;
    box-shadow: 0 0 12px 12px rgba(0, 0, 0, 0.06); }
  .page-contents {
    height: 140px;
    overflow: scroll;
    padding: 12px 16px; }
  .page-contentsShadow {
    height: 32px;
    position: relative;
    top: -32px;
    background-color: rgba(255, 255, 255, 0);
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), white);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    /* FF3.6 */
    /* IE10 */
    /* Opera 11.10+ */
    background-image: linear-gradient(top, rgba(255, 255, 255, 0), white);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='rgba(255, 255, 255, 0)', EndColorStr='white');
    margin-bottom: -20px; }
  .page-body {
    padding: 16px;
    padding-bottom: 1px; } }

@media (min-width: 500px) {
  .page {
    background-color: #fff;
    box-shadow: 0 0 12px 12px rgba(0, 0, 0, 0.06);
    *zoom: 1; }
    .page:before, .page:after {
      display: table;
      content: "";
      line-height: 0; }
    .page:after {
      clear: both; }
  .page-contents, .page-body {
    float: left;
    padding: 24px 32px 12px 32px; }
  .page-contents {
    width: 35%; }
  .page-body {
    width: 65%;
    padding-left: 0; }
  .page-bodyWrapper {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 32px; } }

@media (min-width: 650px) {
  .page-contents {
    width: 30%; }
  .page-body {
    width: 70%; } }

@media (min-width: 800px) {
  .page-contents {
    width: 25%; }
  .page-body {
    width: 75%; } }

.page--fullWidth .page-contents, .page--fullWidth .page-contentsShadow {
  display: none; }

.page--fullWidth .page-body {
  width: 100%; }

.page-contents {
  font-weight: 300; }

.page-contentsActive {
  color: #119FF2;
  font-weight: 700; }

.page-contents li {
  line-height: 1.3em;
  margin-bottom: 0.7em; }

.page-contents ul {
  margin-left: 2em;
  list-style-type: circle; }

.page header, .page-bodyWrapper > p, .page-bodyWrapper blockquote p, .page blockquote, .page h2, .page h3, .page pre, .page-bodyWrapper > ul {
  margin-bottom: 16px; }

.page-bodyWrapper blockquote p:last-child {
  margin-bottom: 0; }

.page h1 {
  font-size: 32px; }

.page h2 {
  font-size: 24px; }

.page h3 {
  font-size: 18px; }

.page header, .page h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 16px; }

.page h2, .page h3 {
  margin-top: 40px; }

.page header p {
  color: rgba(0, 0, 0, 0.5); }

.page blockquote {
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.6);
  border-left: 2px solid #1CB69C;
  padding: 8px 16px; }

.page pre {
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 8px 12px;
  font-family: 'Inconsolata', monospace;
  overflow-x: auto; }

.page p > code, .page li > code {
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 2px 3px;
  font-family: 'Inconsolata', monospace;
  white-space: nowrap; }

.page em {
  font-style: italic; }

.page-bodyWrapper > ul {
  list-style: initial;
  list-style-position: inside; }

.page-body a {
  color: #119FF2;
  text-decoration: underline; }

.home {
  background-color: #1CB69C;
  padding-top: 60px; }

.home > h2 {
  margin-bottom: 60px; }

@media (max-width: 649px) {
  .home > .button {
    display: none; } }

.article {
  background-color: #1CB69C;
  margin-top: 24px;
  padding-bottom: 60px; }

.article .page {
  position: relative;
  top: -24px; }
